@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
:after,
:before {
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  font-family: 'Roboto', sans-serif;
}

#root {
  padding: 2rem;
  text-align: center;
}

button {
  outline: none;
  border: none;
  background: none;
  display: none;
}

button:active,
button:focus {
  outline: none;
}

button:hover {
  font-weight: bold;
  cursor: pointer;
}
